/***************************************************
              Universal Selector
***************************************************/

* {
    box-sizing: border-box;
}


/***************************************************
                   GENERAL
***************************************************/

body {
    font-family: 'Caveat Brush', cursive;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    background: linear-gradient(#1947A3, transparent 90%), linear-gradient(0deg, #fff, transparent), #1947A3 url('../img/mountains.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*divide number in pixels by 16*/
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-bottom: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgrey;
}

.googlemap {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sizefix {
    border-bottom: 2px solid darkgray;
    color: darkgray;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sizeajust {
    color: darkgray;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.map {
    border: 3px solid darkgrey;
}

ul,
ol {
    margin-left: 30px;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.wildlife {
    background-image: url("../img/bear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid #1947A3;
    box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .8) border-radius: 10px;
    margin: 105px 0 60px;
    padding: 18% 24%;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 5px #1947A3;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}


/***************************************************
             HEADLINE & P ELEMENTS
***************************************************/

h1 {
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    margin: 12px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    margin-bottom: 1.7em;
}


/***************************************************
                FLOTED COULOMBS
***************************************************/

.resorts,
.tips {
    width: 46.5%
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/***************************************************
                   COLORS
***************************************************/

body {
    color: #878787;
}

.title {
    color: white;
}

h1 {
    color: white;
}

.main-header {
    background-color: #1947A3;
}

.wildlife {
    background-color: #434a52;
    color: white;
}

ul li {
    color: white;
}

h3 {
    color: white;
}


/*CSS Psuedo Class*/

a:link {
    color: #1947A3;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: lightblue;
}

a:active {
    color: purple;
}

a:focus {
    background-color: #1947A3;
    color: white;
}


/***************************************************
                   MEDIA QUERIES
***************************************************/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        margin: 50px 0 20px;
        padding: 10% 12%;
    }
}

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        margin: 50px 0 20px;
        padding: 10% 12%;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}


/***************************************************
                    NAV BAR
***************************************************/